<div id="main-cont">

  <div id="first-cont" fxLayoutAlign="center center" fxLayout="column">

    <div id="logo-cont" fxLayoutAlign="center center">
      <img id="gob-cont" src="../../../assets/Jalisco-.png" alt="JALISCO - Gobierno del Estado">
    </div>

    <div id="footer-cont">
      <p>
        JALISCO - Gobierno del Estado &copy; {{ currentYear }}
      </p>
    </div>

  </div>

  <div id="second-cont" fxLayoutAlign="center center" fxLayout="column">

    <div >
      <img id="rec-cont" src="../../../assets/ReCrea.png" alt="Recrea Educando para la Vida">
    </div>

    <div id="message-cont">

      <p class="error">ERROR 404</p>
      <p class="sorry">LO SENTIMOS</p>
      <p class="not-found">Página no encontrada</p>

    </div>

  </div>

</div>
