#main-cont {
  background-image: url("../../../assets/Sistema-Recrea.png");
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}

#mid-cont {
  background-color: #e9004c ;
  width: 45%;
  min-width: 370px;
}

#login-cont {
  position: relative;
  max-width: 250px;
  min-width: 150px;
  height: 200px;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19)
}

#options-cont {
  margin-top: 5px;
}

#footer-cont {
  color: #FFFFFF;
  font-size: 12px;
}

#gob-cont {
  width: 130px;
  margin-top: 5px;
}

#rec-cont {
  width: 200px;
}

.logo-cont {
  margin: 5px;
}

.mat-raised-button {
  color: #FFFFFF;
  background-color: #FFC51E;
  width: 100%;
  height: 40px;
  border-radius: 12px;
}

mat-card-subtitle {
  color: #FFC51E;
  text-align: center;
}

mat-card-header {
  color: dimgray;
  justify-content: center;
  font-family: Arial, serif;
  font-size: small;
}

mat-card-title {
  font-size: 10px;
}

img {
  width: 150px;
}

.login-titles {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

mat-form-field {
  width: 100%;
}




